version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: people_insights
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
    ports:
      - "5432:5432"
    volumes:
      - ./src/config/database/createTableConfig.sql:/docker-entrypoint-initdb.d/createTableConfig.sql
